.v-divider {
  background: transparent;
  position: relative;
  cursor: col-resize;
  flex: calc(var(--flex-factor) * 5);
  background: #222;
}

.v-divider.focused {
  background: rgb(0, 73, 126);
  z-index: 1000;
}
