:host {
  display: block;
  height:100%;
  width:100%;
  position: relative;
}

:host .resizable-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
  background:red
}