/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/
@import './rtl.css';
@font-face {
  font-family: ui5-icons;
  src: url("/assets/fonts/sap-icons.ttf");
}

@font-face {
  font-family: ui5-tnt-icons;
  src: url("/assets/fonts/sap-icons-tnt.ttf");
}

@font-face {
  font-family: ui5-suite-icons;
  src: url("/assets/fonts/sap-icons-suite.ttf");
}

html,
body {
  all: unset;
  height: 100%;
  width: 100%;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.pal-grid-stick-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
  overflow: auto;
}

.pal-grid-stick-layout > .pal-grid-header {
  grid-area: header;
  position: relative;
  font-weight: 100;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 0.5em;
}

.tabs .panel .pal-grid-stick-layout > .pal-grid-header {
  display: none;
}
/*
.tabs .panel .content .pal-snaps .trapeze{
  /* opacity: 0; */
/* display: none; */
/* pointer-events: none; */
/* }  */

.pal-grid-stick-layout > .pal-grid-main {
  grid-area: main;
  overflow: auto;
}

.pal-grid-stick-layout > .pal-grid-footer {
  grid-area: footer;
}

.content-floated-panel .float-header .pal-grid-header{
  display: none;
}


body   {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}
html {
  overflow-y: auto;
  background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    display: none; 
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 30px;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
    background-color: #3b3b3b;
   -webkit-border-radius: 16px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
}