:host {
  height: 100%;
}
main.pal-grid-main {
  position: relative;
  background: #222;
  height: 100%;
}
header {
  background: #28273e;
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.pal-grid-header h3 {
  margin: 0;
}

h1 {
  font-weight: 500;
  color: #fff;
}

.main-tree {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
}

.second-tree-layout {
  right: 1em;
  width: 30%;
  height: calc(70% - 2em);
  display: block;
  position: absolute;
  top: 1em;
  resize: both;
  transition: all 0.3s ease;
  transform: translateX(calc(100% + 1em));
}

.closed.second-tree-layout {
  transform: translateX(0%);
}

.second-tree-layout .btn-expender {
  top: 0;
  left: -2.5em;
  transform: rotate(90deg);
}

.map-con {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: gold;
  background-image: url(/assets/raster-map-open-layers.png);
  background-size: cover;
}
