:host {
  height: 100%;
}
main.main {
  background: #222;
  height: 100%;
}
header {
  background: #28273e;
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.header h3 {
  margin: 0;
}

h1 {
  font-weight: 500;
  color: #fff;
}
